{% extends "main/layout.html" %}
{% block title %}Register{% endblock %}

{% block main %}
<div class="register-page">
  <h1>Create an Account</h1>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="POST">
    {% csrf_token %}

    <label for="id_username">Username</label>
    {{ form.username }}

    <label for="id_email">Email</label>
    {{ form.email }}

    <label for="id_password1">Password</label>
    {{ form.password1 }}

    <label for="id_password2">Repeat Password</label>
    {{ form.password2 }}

    <button type="submit" class="btn btn-large">Register</button>
  </form>
  <div class="register-link">
      <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
  </div>
</div>
{% endblock %}
